:root{
  --white:#fff;
  --black:#000;
  
  --dark:#171615;
  --gray:#4d5156;
  --lite:#e3e3e3;
  
  --primary:#7963F9;
  --primary_lite:#74DFEF;
  --primary_dark:#181E2B;
}


body {
  font-family: sans-serif;
  background-color:var(--primary_dark);
  color:var(--white);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.table-container {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-collapse: collapse;
}

table {
  width: 100%;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  word-break: break-word; /* Ensures long words break to next line */
  white-space: normal; /* Allows normal wrapping of text */
}

th {
  text-align: center; /* Centers text inside header cells */
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  width: 95%;
  border-radius: 10px;
  margin-top: 10px;
  
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

button:hover {
  background-color: #3e8e41;
  color: black;
}
.actions{
  display: block;
  justify-content: space-between;
}
.buttons{
  display: flex;
  justify-content: space-between;
  

}
button{
  transition-duration: 1s;
}
.logout{
  background-color: red;
  width: 100px;
}
button:hover{
  background-color: var(--gray);
}




    @media only screen and (max-width: 800px){ 
     
      body { 
        -ms-transform: rotate(90deg); /* IE 9 */ 
        -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */ 
        transform: rotate(90deg); 
        width: 950px; 
        height: 100% ; 
        margin: 550px;
        
        
        overflow: scroll; 
      } 
    } 