:root{
  --white:#fff;
  --black:#000;
  
  --dark:#171615;
  --gray:#4d5156;
  --lite:#e3e3e3;
  
  --primary:#7963F9;
  --primary_lite:#74DFEF;
  --primary_dark:#181E2B;
}
button{
  background-color: wheat;
  border-radius: 10px;
}
.logos{
  display: flex;
  justify-content: space-between;
}

body {
  font-family: sans-serif;
  background-color:var(--white);
  color:var(--primary_dark);
  background-image:url('./Camions.avif');
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.table-container {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-collapse: collapse;
}

table {
  width: 100%;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  word-break: break-word; /* Ensures long words break to next line */
  white-space: normal; /* Allows normal wrapping of text */
}

th {
  text-align: center; /* Centers text inside header cells */
}






    @media only screen and (max-width: 800px){ 
     
      body { 
        -ms-transform: rotate(90deg); /* IE 9 */ 
        -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */ 
        transform: rotate(90deg); 
        width: 950px; 
        height: 100% ; 
        margin: 550px;
        
        
        overflow: scroll; 
      } 
    } 


    .menu-container {
      text-align: center;
      position: relative; /* Relative to position the dropdown correctly */
      width: 200px;
  }
  
  .menu-button {
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      transition: background-color 0.3s;
      display: flex;
      align-items: center;
  }
  
  .menu-button i {
      margin-right: 8px;
  }
  
  .menu-button:hover {
      background-color: #0056b3;
  }
  
  .hidden-buttons {
      position: absolute;
      top: 95%; /* Position below the main button */
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
      opacity: 0;
      background-color: rgba(255, 255, 255, 1); /* Semi-transparent background */
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      z-index: 1000;
  }
  
  .hidden-buttons.show {
      max-height: max-content; /* Adjust as needed to fit all buttons */
      opacity: 1;
      transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
  }

    
  .hidden-buttons button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);
    color: rgb(8, 2, 2);
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 1); /* Transparent border */
    transition: background-color 0.3s;
    border-radius: 10px;
}
  .hidden-buttons button:last-child {
      border-bottom: none;
  }
  
  .hidden-buttons button:hover {
      background-color: #5a6268;
  }
  a{
    text-decoration: none;
  }
  
