/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background: #f5f5f5;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181E2B;
}

/* Container Styles */
.login-container {
    background: #fff;
    padding: 70px;
    color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 700px;
    height: 500px;
    text-align: center;
    background-color: #181E2B;
}

.login-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: whitesmoke;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;

    text-align: left;
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}

/* Button Styles */
button[type="submit"] {
    background: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background 1s;
}

button[type="submit"]:hover {
    background: #0056b3;
}
